@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.photos {
    position: relative;
    display: none;
    height: 80vh;
    margin: auto;
    padding-top: 2em;
}

header div {
    font-size: 2em;
    text-align: center;
    height: 1.3em
}

header div i {
    margin-top: 0.25em;
    font-size: 1.3em;
    transition: all .2s ease-in-out;

}

header div i:hover {
    transform: scale(1.2);
}

.fa-play {
    background: linear-gradient(120deg, #333637 0%, #676f74 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-play:hover {
    background: linear-gradient(180deg, #04BEFE 0%, #4481EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-pause {
    background: linear-gradient(180deg, #04BEFE 0%, #4481EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.circle {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.circle .fas {
    background: linear-gradient(180deg, #04BEFE 0%, #4481EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.1em 0.5em 0.1em 0.5em;
    font-size: 1.3em;
}
.circle .far {
    background: linear-gradient(20deg, #5D9FFF 0%, #B8DCFF 45%, #6BBBFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      padding: 0.1em 0.5em 0.1em 0.5em;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 2px;
}

.circle .far:hover {
    transform: scale(1.3);
    position: relative;
    bottom: 3px;
}


.positionDots {
    position: relative;
    bottom: 1em;
    margin: auto;
}

.photos:first-of-type {
    display: block;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align: center;
    background: linear-gradient(20deg, #5D9FFF 0%, #B8DCFF 45%, #6BBBFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 0.0em;
    position: relative;
    z-index: 20;
}

.cursor{
    cursor: url('200.gif'), auto;
}

button:first-of-type {
    left: 1em;
}

button:last-of-type {
    right: 1em;
}

button:focus {
    outline: none;
}

button {
    position: absolute;
    top: 50%;
    border: none;
    background: linear-gradient(120deg, #333637 0%, #676f74 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

button:hover{
     background: linear-gradient(180deg, #04BEFE 0%, #4481EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transform: scale(1.2);
}



