@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: rgb(247, 248, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main article{
    width: 20em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0em 0.5em 1.125em 0em rgba(136, 136, 136, 0.3);
}

main article h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

main article img:first-of-type{
    width: 15em;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0em 0.5em 1.125em 0em rgba(136, 136, 136, 0.3);
    z-index: 20;
}

main article img:last-of-type{
    width: 5em;
    margin: auto;
    z-index: 10;
}

